.hub_navbar {
  position: fixed;
  display: block;
  z-index: 100;
  top: 0;
  left: 0;
  height: 64px;
  width: 100vw;
  background: #18ABD6;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.28);
}

.hub_navbar__left_area {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  margin-left: 4vw;
  height: 100%;
  width: calc(65vw - 4vw);
}

.hub_navbar__logo {
  display: inline-block;
  height: 100%;
  width: 160px;
  background-image: url("../../assets/images/table/nav_logo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.hub_navbar__search {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 2vw;
  width: calc(100% - 2vw - 160px);
  line-height: 30px;
  padding: 6px 0px;
  padding-left: 50px;
  font-size: 14px;
  color: white;
  background-image: url("../../assets/images/table/icon_search.svg");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-color: rgba(255, 255, 255, 0.25);
  border: transparent 0px solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.hub_navbar__search:focus {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}

.hub_navbar__search::-webkit-input-placeholder {
  color: white;
}

.hub_navbar__search:-ms-input-placeholder {
  color: white;
}

.hub_navbar__search::-ms-input-placeholder {
  color: white;
}

.hub_navbar__search::placeholder {
  color: white;
}

.hub_navbar__right_area {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  right: 0;
  margin-right: 4vw;
  height: 100%;
  width: calc(35vw - 4vw);
}

.hub_navbar__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2px;
  margin: 0 10px;
  height: 100%;
  width: auto;
  font-size: 16px;
  color: white;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}

.hub_navbar__link::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  height: 4px;
  width: 0%;
  background: white;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.hub_navbar__link:active {
  opacity: 0.8;
}

.hub_navbar__link .wishlist_count {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #18ABD6;
  font-size: 12px;
  padding: 0px 7px 0px 6px;
  border-radius: 15px;
  margin-left: 6px;
  background: white;
}

.hub_navbar__link .wishlist_count::before {
  display: inline-block;
  content: '';
  height: 16px;
  width: 16px;
  margin-right: 1px;
  background-image: url("../../assets/images/table/icon_heart_blue.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hub_navbar__profile {
  position: relative;
  display: block;
  margin-left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: #18ABD6 4px solid;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.hub_navbar__profile:hover {
  border-color: white;
}
/*# sourceMappingURL=navbar.componet.css.map */