.courseList__sideList {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70vw;
    height: calc(100vh - 60px);
    padding-right: 5vw;
    padding-left: 30px;
    align-items: center;
    justify-content: center
}

.flex-container {
    display: flex
}

.courseList__sideList__itemBox {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 82vh;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    border: #eee 1px solid;
    background: white;
    transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1)
}

.courseList__sideList__itemBox:hover {
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.1)
}

#course_item {
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #fff
}

.list_course_item__no_result {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute
}

.large_right {
    justify-content: space-between !important
}

.list_course_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: #eee 1px solid;
    width: 100%;
    height: 70px;
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    background: white
}

.list_course_item_left {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    width: auto;
    padding: 0 13px;
    height: 100%
}

.list_course_item_mid {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    padding-left: 10px
}

.list_course_item_mid>p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.list_course_item_right {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    width: auto;
    padding: 0 19px;
    height: 100%
}

.list_course_item_category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-weight: 100;
    background-color: #9B9B9B;
    border-radius: 100%;
    transition: background-color 0.1s cubic-bezier(0, 0, 0.2, 1)
}

.list_course_item_category.A9 {
    background: #F35A5A
}

.list_course_item_category.A6 {
    background: #18ABD6
}

.list_course_item_category.A7 {
    background: #FF6097
}

.list_course_item_category.A1 {
    background: #17CF94
}

.list_course_item_category.A2 {
    background: #1A6CBD
}

.list_course_item_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/images/table/icon_arrow_right.svg");
    background-color: #eee;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1)
}

.list_course_item:hover {
    cursor: pointer;
    background-color: #FAFAFA
}

.list_course_item:hover .list_course_item_category.clickable {
    background-image: url("../../assets/images/table/icon_close.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #CBCBCB;
    color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s cubic-bezier(0, 0, 0.2, 1), background-size 0.2s cubic-bezier(0, 0, 0.2, 1)
}

.list_course_item:hover .list_course_item_category.clickable:hover {
    background-color: #c62828;
    background-size: 14px
}

.list_course_item:hover .list_course_item_category.clickable:active {
    filter: brightness(80%)
}

.list_course_item:hover .list_course_item_button {
    background-size: 16px;
    background-color: #1A6CBD;
    margin-right: -8px
}

.list_course_item:hover .list_course_item_button:active {
    filter: brightness(80%)
}

.list_course_item:active {
    filter: brightness(98%)
}

.list_course_item:active .list_course_item_button {
    filter: brightness(80%)
}

.list_course_item_right--courseList {
    display: inline-flex;
    align-items: center
}

.list_course_item_right--courseList img {
    margin-right: 5px;
    height: 10px;
    width: 10px
}

.large_right--circle {
    display: inline-flex;
    border-left: 1px solid #eeeeee;
    padding: 0 20px;
    margin-right: -20px
}

.large_right--circle:hover .circle--img {
    filter: brightness(90%)
}

.large_right--circle:active .circle--img {
    filter: brightness(85%)
}

.circle--img {
    height: 40px;
    width: 40px;
    z-index: 20;
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1)
}

.circle--img:hover {
    filter: brightness(90%)
}

.circle--img:active {
    filter: brightness(85%)
}

.circle--img img {
    height: 40px;
    width: 40px
}