<!-- 課程列表 -->
<div class="flex-container courseList__sideList">
    <div class="card courseList__sideList__itemBox" id="courseList">
      <div id="course_item">
        <p class="list_course_item__no_result" *ngIf="!courseList.length">查無課程資訊。</p>

        <div class="list_course_item" *ngFor="let course of courseList">

          <div class="list_course_item_left">
            <p class="list_course_item_category text_white text_20" [ngClass]="course.info.dept_id">{{course.info.category}}</p>
          </div>

          <div class="list_course_item_mid">
            <p class="list_course_item_title text_16">{{ course.info.dept_id }}-{{course.info.course_order}} {{course.info.title}}</p>
            <p class="list_course_item_description text_14 text_dark">{{course.info.dept_id}} — {{course.info.teacher}} — {{course.info.time}}</p>
          </div>

          <div class="list_course_item_right large_right">

            <div class="list_course_item_right--courseList">
              <img src="../../assets/images/course/comment_num.svg"/>
              <p class="text_14 text_dark" style="margin-right:15px">{{course.info.comment_num}}</p>
            </div>
            
            <div class="large_right--circle" (click)="addWish(course.info.id)">
              <div class="circle--img" *ngIf="!hasWish(course.info.dept_id,course.info.course_order)">
                <img src="../../assets/images/course/heart.svg"/>
              </div>
              <div class="circle--img" *ngIf="hasWish(course.info.dept_id,course.info.course_order)">
                <img src="../../assets/images/course/heart_red.svg"/>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
